:root {
  --magenta: #ec1f64;
}

.red {
  --bg: #e21b3c;
  --darker: #c21a36;
}

.blue {
  --bg: #1368ce;
  --darker: #0f4f9e;
}

.green {
  --bg: #26890c;
  --darker: #1c6809;
}

.yellow {
  --bg: #d89e00;
  --darker: #c48f00;
}

.orange {
  --bg: orange;
  --darker: rgb(226, 150, 7);
}

.purple {
  --bg: purple;
  --darker: rgb(83, 0, 83);
}

.general {
  --bg-dark: #f2f2f2;
  --bg-color: #46178f;
}
